<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Measurement Logging Guide</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #000000;
      color: #f5f5f5;
    }

    .guide-container {
      max-width: 900px;
      margin: 0 auto;
    }

    .guide-step {
      margin-bottom: 20px;
    }

    .guide-step img {
      max-width: 80%;
      height: auto;
      display: block;
      margin: 10px 0;
    }

    #tools-img {
      display: flex;
    }

  </style>
</head>
<body>

  <div class="guide-container">

    <h1>Measurement Logging Guide</h1>

    <div class="guide-step">
      <h2>Step 1: Set up your equipment.</h2>
      <p>* Prepare your Sky Quality Meter, Bortle Scale chart or Light Pollution measurement app for measurements.</p>
      <div id="tools-img">
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/SQM-l.jpg/800px-SQM-l.jpg" alt="Sky Quality Meter">
          <p>Sky Quality Meter</p>
        </div>  
        <div>
          <img src="https://darkskydiary.files.wordpress.com/2012/01/bortlescaleflowchart2.jpg" alt="Bortle Scale Chart">
          <p>Bortle Scale Chart</p>
         </div>
        <div>  
          <img src="https://scx2.b-cdn.net/gfx/news/hires/2013/igb-loss-of-the-night-app.jpg" alt="Loss of the Night App Poster">
          <p>Light Pollution measurement app</p>
        </div> 
    </div> 
     <!-- You can provide an image or illustration of the Sky Quality Meter here -->
    </div>

    <div class="guide-step">
      <h2>Step 2: Choose a location</h2>
      <p>* Find a location with minimal light pollution for accurate measurements.</p>
      <p>
      <!-- You can provide an image or illustration of the Bortle Scale chart here -->
    </div>

    <div class="guide-step">
      <h2>Step 3: Follow guide to record accurate measurements.</h2>
      <p>* Follow the detailed guide for recording measurements using your chosen equipment.</p>
      <p>* For Measurements in values of Naked Eye Limiting magnitude, convert measurement to the corresponding Bortle Scale class before logging.</p>
       <img src="https://cdn.darkskyarkansas.org/blobarnaturalsa18ca2d3dc/wp-content/uploads/2018/07/cap-307.jpg" alt="Comprehensive Conversion Chart">
    </div>

    <p>* Once you obtain the values, log in to AstroSentinel and add a marker for the location where you recorded the measurements.</p>

  </div>

</body>
</html>
