<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstroSentinel</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: cursive;
      overflow-x: hidden;
      background-color: #0d0c0c;
      color: #C0C0C0;
      font-size: 20px;
    }


    #name {
      font-size: 40px;
      font-weight: bold;
      margin-right: auto;
      font-family: 'Galada', cursive;
    }

    header {
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      color: #ffffff;
      z-index: 1000;
      display: flex;
      align-items: center;
      transition: height 0.3s;
    }

    section {
      padding: 40px;
      text-align: center;
      max-width: 100%;
    }

    footer {
      padding: 20px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: #f5f5f5; 
      font-weight: bold;
      font-size: 20px;
    }

    header button {
      margin-left: 30px; 
      margin-right: 30px;
      padding: 10px 30px;
      border-radius: 10px;
      font-size: 15px;
    }
    
    header button:hover {
      background-color: #9adaf3;
    }

    #footer a {
      color: #ffffff;
      margin-left: 30px;
    }


   #footer a:hover { 
      color: #9adaf3;
    }

    #map {
      margin-top: 80px;
    }
    .custom-margin {
      margin-left: 30px;
      color: #ffffff;
    }

    ul {
      list-style-type: none;
    }

    .offer-item  {
      max-width: inherit;
      margin: 0 auto;
      text-align: justify;
    }

    #offer-title {
      text-align: center;
      font-family: 'Galada', cursive;
    }

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }
    
    a:hover {
      color: #9adaf3;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>

  <header>
   <div id="name">AstroSentinel</div>
   <a href="/login"> <button>Login</button></a>
   <a href="/signup"> <button>Signup</button></a>
   <a href="/guide"> <button>Measurement Guide</button></a>
  </header>
  <div id="map"
    <%- include('map.ejs') %>
  </div>
  <p id="offer-title"><i>Harmony in Darkness: AstroSentinel - Mapping Solutions for a Light-Pollution-Free Ecosystem<i></p>
  <section style="background-image: url('https://c.wallhere.com/photos/98/83/Bing_nature_landscape-2077985.jpg!d'); background-size: cover;" class="offer-item">
    <!-- Section 1 content goes here -->
    <h1 id="offer-title">About</h1>
    <p>Welcome to AstroSentinel, a platform dedicated to exploring and understanding light pollution's impact on our night sky. Our mission is to provide a space where enthusiasts, researchers, and concerned citizens can come together to contribute, learn, and raise awareness about the effects of light pollution.</p>
  </section>

  <section style="background-image: url('https://c.wallhere.com/photos/98/83/Bing_nature_landscape-2077985.jpg!d'); background-size: cover;">
    <!-- Section 2 content goes here -->
    <div id="what-we-offer">
        <h1 id="offer-title">What We Offer</h1>
        <div class="offer-item">
          <h3>1. Data Visualization</h3>
          <p> Explore interactive data visualizations depicting light pollution levels across different regions. Gain insights into the extent of artificial light and its impact on celestial visibility.</p>
        </div>

        <div class="offer-item">
          <h3>2.Contribute Your Data</h3>
          <p> Become an AstroSentinel by contributing your own light pollution measurements. Help build a comprehensive dataset to further our understanding of how artificial light affects the environment.</p>
        </div>

        <div class="offer-item">       
          <h3>3. Learn and Educate</h3>
          <p>Access resources and guides on light pollution monitoring techniques. Learn why monitoring light pollution is crucial for preserving natural ecosystems and promoting sustainable lighting practices.</p>
          </div>
    </div> 
  </section>

  <section style="background-image: url('https://c.wallhere.com/photos/98/83/Bing_nature_landscape-2077985.jpg!d'); background-size: cover;">


    <div class="offer-item">
      <h1 id="offer-title">Log and Obtain Measurements</h2>

      <div class="offer-item">
        <h3>1. Why Contribute to AstroSentinel?</h3>
        <p>By contributing your measurements, you play a crucial role in:</p>
        <ul>
          <li>* Building a comprehensive database for researchers and enthusiasts.</li>
          <li>* Enhancing our understanding of light pollution's impact on the night sky.</li>
          <li>* Supporting global efforts to address light pollution and promote sustainable lighting practices.</li>
        </ul>
      </div>

      <div>
        <h3>2. Obtain Measurements</h3>
        <p>Curious about light pollution levels in your area? Follow these steps to obtain measurements:</p>
        <ul>
          <li>Step 1: Download a light meter app or use specialized equipment.</li>
          <li>Step 2: Find a dark location away from artificial lights.</li>
          <li>Step 3: Follow our <a href="/guide">guide page</a> to capture accurate measurements.</li>
          <li>Step 4: Contribute to AstroSentinel by submitting your findings.</li>
        </ul>
      </div>
     
        <!-- Log Your Measurements -->
      <div>
        <h3>3. Log Your Measurements</h3>
        <ul>  
          <li>Step 1: Set up your equipment.</li>
          <li>Step 2: Choose a location with minimal light pollution.</li>
          <li>Step 3: Follow our guide to record accurate measurements.</li>
          <li>Step 4: <a href="/signup" >Sign up</a> on AstroSentinel.</li>
          <li>Step 5: <a href="/login">Log in</a> to AstroSentinel and submit your data.</li>
        </ul>
      </div>
    </div>
  </section>

  <footer id="footer">
    <h4>Find Us On</h4>
    <!-- Footer content goes here -->
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a> 
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a> 
   <span class="custom-margin"> <i class="far fa-envelope"></i> Email: carol.nyaguthii@kenyanastro.tech </span>
  </footer>

</body>
</html>
