<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About AstroSentinel</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
  <link rel="manifest" href="favicon_io/site.webmanifest">
  <link rel="stylesheet" href="about.css">
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>

  <div class="topnav" id="myTopnav">
    <a id="name">AstroSentinel</a>
    <a href="/">Home</a>
    <a href="/about"  class="active">About</a>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/light-pollution">About Light pollution</a>
        <a href="/guide">Measurents and Tools</a>
        <a href="/measurement">Submitting data on Astrosentinel</a>
      </div>
    </div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

  <section>
    <div id="offer-item-container">
        <h1 id="offer-title">What We Offer</h1>
        <!--div class="offer-item">
          <h3>1. Data Visualization</h3>
          <p> Explore interactive data visualizations depicting light pollution levels across different regions. Gain insights into the extent of artificial light and its impact on celestial visibility.</p>
        </div>

        <div class="offer-item" id="aboutImage">
          <img src="public/kenya.png"/>
        </div-->

 

        <div class="offer-item">
          <h3>1. Data Contribution</h3>
          <p> Join the AstroSentinel community and contribute your own light pollution measurements. Help build a comprehensive dataset to further our understanding of how artificial light at night affects the environment.</p>
        </div>

        <div class="offer-item" id="aboutImage">
          <img src="public/darkmonitorlp.png"/>
        </div>

        <div class="offer-item" id="changePosition1">
           <img src="public/kenya.png"/>
        </div>
         
        <div class="offer-item">
          <h3>2. Data Visualization</h3>
          <p> Explore interactive data visualizations depicting light pollution levels across different regions. Gain insights into the extent of artificial light and its impact on celestial visibility as well as wildlife, environmental and human well being.</p>
        </div>

        <div class="offer-item" id="changePosition2">
          <img src="public/kenya.png"/>
        </div>

        <div class="offer-item">
          <h3>3. Learning and Education</h3>
          <p>Access resources and guides on light pollution monitoring techniques. Learn why monitoring light pollution is crucial for preserving natural ecosystems and promoting sustainable lighting practices.</p>
        </div>

        <div class="offer-item">
          <img src="public/articlelp.png"/>
        </div>
    </div>
  </section>

  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
  </script>
  
  <footer id="footer">
    <span>© 2024 The Kenyan Astro </span>
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a>
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a>
  </footer>

</body>
