<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measurement Logging Guide</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="guide.css">
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>

<body>
      <div class="topnav" id="myTopnav">
    <a id="name">AstroSentinel</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">About Light pollution</a>
        <a href="/guide" class="active" >Measurents and Tools</a>
        <a href="/measurement">Submitting data on Astrosentinel</a>
      </div>
    </div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

    <div class="guide-container">
        <h1>Measurement Logging Guide</h1>

        <div class="guide-step">
            <h2>Step 1: Set up your equipment.</h2>
            <p>* Prepare your Sky Quality Meter, Bortle Scale chart, or Light Pollution measurement app for measurements.</p>
            <div id="tools-img">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/SQM-l.jpg/800px-SQM-l.jpg"
                        alt="Sky Quality Meter">
                    <p>Sky Quality Meter</p>
                </div>
                <div>
                    <img src="https://darkskydiary.files.wordpress.com/2012/01/bortlescaleflowchart2.jpg"
                        alt="Bortle Scale Chart">
                    <p>Bortle Scale Chart</p>
                </div>
                <div>
                    <img src="https://scx2.b-cdn.net/gfx/news/hires/2013/igb-loss-of-the-night-app.jpg"
                        alt="Loss of the Night App Poster">
                    <p>Light Pollution measurement app</p>
                </div>
            </div>
        </div>

        <div class="guide-step">
            <h2>Step 2: Choose a location</h2>
            <p>* Find a location with minimal light pollution for accurate measurements.</p>
        </div>

        <div class="guide-step">
            <h2>Step 3: Follow the guide to record accurate measurements.</h2>
            <p>* Follow the detailed guide for recording measurements using your chosen equipment.</p>
            <p>* For measurements in values of Naked Eye Limiting magnitude, convert the measurement to the corresponding
                Bortle Class before logging.</p>
            <img src="https://cdn.darkskyarkansas.org/blobarnaturalsa18ca2d3dc/wp-content/uploads/2018/07/cap-307.jpg"
                alt="Comprehensive Conversion Chart">
            <p>* Once you obtain the values, log in to AstroSentinel, search and click on your location on the map, and
                  input the values as prompted. That will add a marker at the location of your recorded measurements.</p>
        </div>
    </div>

  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
  </script>

  <footer id="footer">
    <span>© 2024 The Kenyan Astro</span>
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a>
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a>
  </footer>

</body>

</html>
