body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0d0c0c;
  color: #C0C0C0;
  font-size: 20px;
}

#name {
  font-size: 40px;
  font-weight: bold;
  margin-right: auto;
  font-family: 'Galada', cursive;
  padding: 50px;
}

.header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #ffffff;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: height 0.3s;
}

section {
  padding: 40px;
  text-align: center;
  max-width: 100%;
  margin-top: 80px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}

#footer a {
  color: #ffffff;
  margin-left: 30px;
}

#footer a:hover {
  color: #9adaf3;
}

#map {
  margin-top: 80px;
}

.custom-margin {
  margin-left: 30px;
  color: #ffffff;
}

ul {
  list-style-type: disc;
}

.offer-item  {
  max-width: inherit;
  margin: 0 auto;
  text-align: justify;
}

#offer-title {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #9adaf3;
}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  max-width: 800em;

  padding: 50px;

}

.nav-links li {

  list-style: none;

}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 16px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}

.nav-links li a.active {

  background-color: #4caf50;

}

#offer-item-container {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-template-rows: repeat(2,minmax(0,1fr));
  column-gap: 8rem;
  row-gap: 5rem;

}

#offer-item-listing { 
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  #offer-item-container {
    grid-template-columns: repeat(1,minmax(0,1fr));

  }
}
