<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AstroSentinel</title>
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a id="name">AstroSentinel</a>
    <a href="/" class="active">Home</a>
    <a href="/about">About</a>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">About Light pollution</a>
        <a href="/guide">Measurents and Tools</a>
        <a href="/measurement">Submitting data on Astrosentinel</a>
      </div>
    </div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

  <div id="map"
    <%- include('map.ejs') %>
  </div>
  <p id="offer-title"><i>Harmony in Darkness: AstroSentinel - Mapping Solutions for a Light-Pollution-Free Ecosystem</i></p>
  <section class="offer-item" id="landingsection" style="height: 400px;">
    <!--<h1 id="offer-title">About</h1>-->
    <p>Welcome to AstroSentinel, a platform dedicated to mapping light pollution levels and delving into its impact on our night sky and beyond. Our mission is to provide a space where enthusiasts, researchers, and concerned citizens can come together to contribute, learn, and raise awareness about the the multifaceted effects of light pollution on both the environment and human well-being.</p>
  </section>
  
  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
  </script>

  <footer id="footer">
    <span>The Kenyan Astro © 2024</span>
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a> 
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a> 
  </footer>

</body>
</html>
