<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Measurement Logging Guide</title>

<link rel="stylesheet" href="landing.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>

  <nav class="header">
   <div id="name">AstroSentinel</div>
   <ul class="nav-links">
     <li><a href="/">Home</a></li>
     <li><a href="/about">About</a></li>
     <li><a class="active" href="/measurement">Measurement Guide</a></li>
     <li><a href="/login">Login</a></li>
     <li><a href="/signup">Signup</a></li>
   </ul>
  </nav>

  <section style="background-image: url('https://c.wallhere.com/photos/98/83/Bing_nature_landscape-2077985.jpg!d'); background-size: cover;">


    <div class="offer-item">
      <h1 id="offer-title">Log and Obtain Measurements</h2>

      <div class="offer-item">
        <h3>1. Why Contribute to AstroSentinel?</h3>
        <p>By contributing your measurements, you play a crucial role in:</p>
        <ul>
          <li>Building a comprehensive database for researchers and enthusiasts.</li>
          <li>Enhancing our understanding of light pollution's impact on the night sky.</li>
          <li>Supporting global efforts to address light pollution and promote sustainable lighting practices.</li>
        </ul>
      </div>

      <div>
        <h3>2. Obtain Measurements</h3>
        <p>Curious about light pollution levels in your area? Follow these steps to obtain measurements:</p>
        <ul>
          <li>Step 1: Download a light meter app or use specialized equipment.</li>
          <li>Step 2: Find a dark location away from artificial lights.</li>
          <li>Step 3: Set up your equipment.</li>
          <li>Step 4: Follow our <a href="/guide">guide page</a> to capture accurate measurements.</li>
        </ul>
      </div>

      <div>
        <h3>3. Log Your Measurements</h3>
        <ul>
          <li>Step 1: <a href="/signup">Sign up</a> on AstroSentinel.</li>
          <li>Step 2: <a href="/login">Log in</a> and submit your data.</li>
        </ul>
      </div>
    </div>
  </section>

  <footer id="footer">
    <h4>Find Us On</h4>
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a>
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a>
   <span class="custom-margin"> <i class="far fa-envelope"></i>Email: nyaguthiigc@gmail.com</span>
  </footer>

</body>
