<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Measurement Logging Guide</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
  <link rel="manifest" href="favicon_io/site.webmanifest">
  <link rel="stylesheet" href="about.css">
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a id="name">AstroSentinel</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/light-pollution">About Light pollution</a>
        <a href="/guide">Measurents and Tools</a>
        <a href="/measurement" class="active">Submitting data on Astrosentinel</a>
      </div>
    </div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

  <section>
    
    <div id="offer-item-container">
      <h1 id="offer-title">Obtain and Log Measurements</h1>
      <div class="offer-item">
        <h3>1. Why Contribute to AstroSentinel?</h3>
        <p>By contributing your measurements, you play a crucial role in:</p>
        <ul>
          <li>Building a comprehensive database for researchers and enthusiasts.</li>
          <li>Enhancing our understanding of light pollution's impact on the night sky.</li>
          <li>Supporting global efforts to address light pollution and promote sustainable lighting practices.</li>
        </ul>
      </div>

     <div class="offer-item">
         <img src="public/logs_col2.png"/>
     </div>

     <div class="offer-item" id="changePosition1">
         <img src="public/sqm-manual.jpg"/>
     </div>

      <div class="offer-item">
        <h3>2. Obtain Measurements</h3>
        <p>Curious about light pollution levels in your area? Follow these steps to obtain measurements:</p>
        <ul>
          <li>Step 1: Download a light meter app or use specialized equipment.</li>
          <li>Step 2: Find a dark location away from artificial lights.</li>
          <li>Step 3: Set up your equipment.</li>
          <li>Step 4: Follow our <a href="/guide">guide page</a> to capture accurate measurements.</li>
        </ul>
      </div>

     <div class="offer-item" id="changePosition2">
         <img src="public/sqm-manual.jpg"/>
     </div>

      <div class="offer-item">
        <h3>3. Log Your Measurements</h3>
        <ul>
          <li>Step 1: <a href="/signup">Sign up</a> on AstroSentinel.</li>
          <li>Step 2: <a href="/login">Log in</a> and submit your data.</li>
        </ul>
      </div>

     <div class="offer-item">
         <img src=" public/logged-value_Astrosentinel.png"/>
     </div>
    </div>
  </section>

  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
  </script>

  <footer id="footer">
    <span> © 2024 The Kenyan Astro</span>
    <a href="https://github.com/Nyaguthii-C" target="_blank">
        <i class="fab fa-github" style="color: #ffffff;"></i> GitHub
    </a>
    <a href="https://linkedin.com/in/nyaguthii-carol-a41659239" target="_blank">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i> LinkedIn
    </a>
  </footer>

</body>
